body { 
    background-color: white;
}
/*background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;*/

    /* BACKGROUND: color image repeat position/size */


  /* margin-right: auto;
   margin-left: auto; */ 